@media (max-width: 1060px )
{
  .header-contacts a {
    font-size: 1em;
  }
}

@media (max-width: 768px ){
  header {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
  .menu {
    display: none;
  }
  .rightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
  }
  .expertise-wrapper {
    display: none;
  }
.accordion {
    display: block;
  }
  .flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: auto;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px;
}
  .footer-contacts {
    margin: auto;
  }
  .footer-map {
    width: 98%;
  }
   .ml-200 {
    margin-left: 0px;
  }
}

@media (max-width: 576px )
{
  .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
  .stage-box-wrapper {
    margin-bottom: 30px;
    height: auto;
  }
  .inspection .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .cards {
    margin-bottom: 35px;
  }
  .arrow-right-5 {
    display: none;
  }
  .header-contacts  ion-icon {
    font-size: 1.4em;
    margin-right: 0;
    margin-left: 0;
  } 
  .header-contacts .email {
    margin-right: 15px;
  }
  .header-contacts {
    margin-top: 19px;
    margin-bottom: 10px;
  }
  .cardsBx > .card {
    height: 255px;
  }
  .cardsBx > .card .content {
    padding-top: 120px; 
  }
  .title {
    margin-bottom: 5px;
    font-size: 2.1em;
  }
  .line {
    display: none;
  }
  .sl-nav-dot {
    margin: 0px 10px;
    width: 15px;
    height: 15px;
  }
  .sl-nav-dots::before {
    left: 22px;
    top: 12px;
    width: 15px;
    height: 15px;
    -webkit-transform: translateX(calc(35px * (var(--from-left) - 1)));
    -ms-transform: translateX(calc(35px * (var(--from-left) - 1)));
    transform: translateX(calc(35px * (var(--from-left) - 1)));
  }
  .menuToggle {
    z-index: 1001;
  }
  .navigation {
    z-index: 1001;
  }
}
