@media (max-width: 768px ){
  header {
    padding: 20px;
  }
  .menu {
    display: none;
  }
  .rightSide {
    display: flex;
  
  }
  .expertise-wrapper {
    display: none;
  }
.accordion {
    display: block;
  }
}

@media (max-width: 576px )
{
    .d-flex {
      flex-direction: column;
      display: block;
  }
  .stage-box-wrapper {
    margin-bottom: 30px;
    height: auto;
  }
}
