@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  position: relative;
        height: 100%;
}
:root {
  --black: #333;
  --white: #fff;
}
.dark {
  --black: #fff;
  --white: #333;
}
body {
  background: var(--white);
  font-family: 'Roboto', sans-serif;
  background-image: url(images/skyscraper-bg15.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: opacity(0.1);
}
.conteiner {
  max-width: 1180px;
  margin: auto;
}
header {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  z-index: 1;
  border-bottom: 2px solid var(--black);
}
header .logo {
  position: relative;
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  
}
header .logo img {
  width: 200px;
  height: 45px;
}

.header-contacts {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 15px;
}
.header-contacts .email,
.header-contacts .phone
{
  align-items: center;
  display: flex;
}

.header-contacts  ion-icon {
  font-size: 1.8em;
  margin-right: 10px;
  margin-left: 10px;
}
.header-contacts a {
  text-decoration: none;
  color:#1779ff; 
  font-size: 1.2em;
  font-weight: 600;
}
.header-contacts a:hover  {
  transform: scale(1.1);
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.menu li a:hover  {
  font-weight: bold;
  color: #1779ff;
  text-decoration: none;
}
.menu li a:hover:after,
.menu li a:focus:after {
    width: 100%;
}
.menu li {
  list-style: none;
  margin-left: 15px;
}
.menu li a {
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
  font-size: 1.2em;
  color: var(--black);
}
.menu li a:after {
  display: block; 
  content: "";
  height: 2px;
  width: 0%;
  background-color: #1779ff;
  transition: width .4s ease-in-out;
}
.menu li a:hover {
  width: 100%;
}
.navigation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  z-index: 4;
  transition: 0.5s;
}
.navigation.active {
  left: 0;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.25em;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 40px;
}
.navigation li a:hover {
  background: var(--black);
  color: var(--white)
}
.rightSide {
  display: none;

}
.btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.btns ion-icon {
  font-size: 1.5em;
  color: var(--black);
}
.btns ion-icon:nth-child(2) {
  display:none;
}
.btns.menuToggle ion-icon {
  font-size: 3em;

}
.btns.active ion-icon:nth-child(2) {
  display:block;
}
.btns.active ion-icon:nth-child(1) {
  display:none;
}
.conteiner:hover .title {
  opacity: 1;
}

.title {
  font-size: 2.5em;
  opacity: 0.5;
  margin-bottom: 50px;
  margin-top: 60px;
  text-shadow: 4px 1px 2px #1779ff;
}
.sub_title {
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 2em;
}
.card:hover .title {
  opacity: 1;
  
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
section {
  
    box-shadow: 1px 3px 11px 5px rgb(0 0 0 / 24%);
    overflow: hidden;
}

.wrapper .card {
  position: relative;
  width: 400px;
  height: 220px;
  background: #fff;
  display: flex;
  align-items: center;
  margin: 15px;
  box-shadow: 1px 3px 11px 5px rgb(0 0 0 / 24%);
  overflow: hidden;
}
.wrapper .card::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.content {
  padding: 30px;
  text-align: center;
}
.content ion-icon {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 3.8em;
  font-weight: 800;
  color: #1779ff;
  z-index: 1;
  opacity: 0.05;
  transition: 0.5s;
}
.wrapper .card:hover .content ion-icon {
  opacity: 1;
  transform: translateY(-110px);
}
.wrapper .card .content h3 {
  position: relative;
  font-size: 1.5em;
  color: #000;
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5;
}
.wrapper .card:hover .content h3 {
  opacity: 1;
  
}
.wrapper .card .content p {
  position: relative;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 300;
  color: #000;
  z-index: 2;
  opacity: 0.5;

  transition: 0.5;
}
.wrapper .card:hover .content p {
  opacity: 1;
}

.wrapper .card .content a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  background: #fff;
  color: #08001b;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
} 
.wrapper .card span {
  transition: 0.5;
  opacity: 0;
}
.wrapper .card:hover span {
  opacity: 1;
} 
.wrapper .card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #1779ff);
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.wrapper .card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.wrapper .card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #1779ff);
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wrapper .card span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.expertiseBox {
  width: 65%;
  margin-left: 50px;
}
.expertiseBox div {
  margin: auto;
  /* max-width: 63%; */
  /* margin-left: 30px; */
  /* margin-right: 100px; */
  text-align: justify;
}
.expertiseBox div h2 {
  text-align: center;
  margin-bottom: 20px;
}
.d-none {
  display: none;
}
.expertiseBox .exContent.active {
  display: block;
}
.expertise-wrapper {
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
}
.dots {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  
}
.dots .dot {
  display: block;
  width: 100%;
  padding: 10px 20px;
  /* height: 61px; */
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #1779ff;
  border-radius: 24px 4px;
  background: rgb(255 255 255);
  /* display: inline-flex; */
  /* text-align: center; */
}
.dots .dot.active {
  background: #1779ff;
  color:#fff;
}

.line {
  margin-top: -15px;
  margin-bottom: 20px;
  border: none;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(rgb(14 92 235)));
  background-image: -o-linear-gradient(left, #FFF, rgb(14, 180, 192));
  background-image: -webkit-linear-gradient(left, #FFF, rgb(14, 180, 192));
  background-image: -moz-linear-gradient(left, #FFF, rgb(14, 180, 192));
  background-image: linear-gradient(to left, #FFF, rgb(14 52 192));
  width: 100%;
}


.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  
}
.swiper-slide.swiper-slide-visible {
  /* backdrop-filter: blur(5px) ; */
}
.rewies {
  box-shadow: 3px 8px 19px 2px rgb(255 55  0 / 36%);
  padding: 27px;
  margin-top: 30px;
}

.sl-info {
  position: relative;
  width: 70%;
  max-width: 500px;
  bottom: 0;
  right: 0;
  pointer-events: none;
  margin-bottom: 50px;
}
.inner {
  position: relative;
  padding: 0.5em 2em 1em;
  background: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.inner h3 {
  font-size: 1.1em;
  font-weight: normal;
  color: #337AB7;
}
.inner p {
  font-family: Verdana, sans-serif;
  color: var(--black);
  font-size: 16px;
}
.sl-info:before {
  content: "";
  position: absolute;
  width: 65%;
  height: 80%;
  top: 0;
  left: 0;
  transform: translate(-10px, -10px);
  background: #337AB7;
}
.sl-buttons {
  position: absolute;
  float: right;
  right: 20px;
  bottom: 50px;
  pointer-events: all;
  z-index: 5;
}
.sl-buttons button {
  transition: ease .4s;
}
.sl-buttons button svg {
  margin: 0;
  width: 30px;
}
.sl-buttons .btn-prev,
.sl-buttons .btn-next {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 2px solid #337AB7;
  outline: none;
  border-radius: 60px;
  color: #FFFFFF;
  background: #337AB7;
  box-shadow: 0px 3px 15px 2px rgba(0,0,0,.5);
  cursor: pointer;
}
.sl-buttons button:hover {
  box-shadow: 0px 3px 30px 3px rgba(0,0,0,.5);
}
.sl-buttons button:disabled {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,.5);
  background: #BFE2FF;
  cursor: default;
}

.slider-rewies {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.swiper {
  width: 100%;
}

:root {
  --z-distance: 150px;
  --from-left: 1;
  --mobile-bkp: 650px;
  --slider-height: 600px;
}
.slider *, 
.slider *::before, 
.slider *::after {
  box-sizing: border-box;
}
.slider {
  width: 100%;
  margin: 20px 0;
  height: var(--slider-height);
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;    
}
.slider::before, 
.slider::after {
  content: '';
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: var(--slider-height);
  background-position: center;
  background-size: cover;
  will-change: opacity;
  z-index: -1;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.3) inset;
}
.slider::before {
  background-image: var(--img-prev);
}
.slider::after {
  transition: opacity 0.7s;
  opacity: 0;
  background-image: var(--img-next);
}
.slider--bg-next::after {
  opacity: 1;
}
.slider-content {
  margin: auto;
  width: 65%;
  height: 65%;
  will-change: transform;
  transform-style: preserve-3d;
  pointer-events: none;
  transform: translateZ(var(--z-distance));
}
.sl-img {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 0;
  box-shadow: 0 0 30px #000;
}
.sl-img-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  transition-timing-function: ease-in;
  visibility: hidden;
}
.sl-img-item img {
  display: block;
  position: relative;
  left: -30px;
  top: -30px;
  width: calc(100% + 60px);
  max-width: calc(100% + 60px);
  height: calc(100% + 60px);
  object-fit: cover;
  will-change: transform;
}
.sl-img-item-active {
  z-index: 20;
  visibility: visible;
}
.sl-img-item-subactive {
  z-index: 15;
  visibility: visible;
}
.sl-img-item-next {
  transform: translateX(100%);
}
.sl-img-item-prev {
  transform: translateX(-100%);
}
.sl-img-item-transit {
  transition: transform 0.7s, opacity 0.7s;
}
.sl-text {
  position: relative;
  height: 100%;
}
.sl-text-item {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.sl-text-item > * {
  overflow: hidden;
  position: absolute;
}
.sl-text-item h3, 
.sl-text-item p {
  transition: transform 0.35s ease-out;
  overflow: hidden;
  padding: 10px 20px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-align: center;
}
.sl-text-item h3 {
  background-color: rgba(191, 226, 255, 0.9);
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  transform: translateX(-100%);  
}
.sl-text-item p {
  color: #FFF;
  font-size: 20px;
  background-color: rgba(51, 122, 183, 0.9);
  transform: translateX(100%);
}
.sl-text-item h3::before, 
.sl-text-item p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.35s ease-out 0.28s;
}
.sl-text-item-head {
  top: -10px;
  left: -10px;
  transform: translateZ(20px);
}
.sl-text-item-info {
  bottom: 40px;
  right: 0;
  max-width: 75%;
  min-width: min-content;
  transform: translateZ(20px);
}
.sl-text-item-active h3, 
.sl-text-item-active p {
  transform: translateX(0);
}
.sl-text-item-active h3::before {
  transform: translateX(102%);
}
.sl-text-item-active p::before {
  transform: translateX(-102%);
}
.sl-text-item-backwards h3::before, 
.sl-text-item-backwards p::before {
  transition: transform 0.35s ease-in;
}
.sl-text-item-backwards h3, 
.sl-text-item-backwards p {
  transition: transform 0.35s ease-in 0.35s;
}
.slider__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--slider-height);
  text-align: center;
}
.sl-nav-arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--slider-height);
}
.sl-nav-arrow {
  height: calc(var(--slider-height) - 100px);
  width: 50vw;
  text-indent: -9999px;
  white-space: nowrap;
}
.sl-nav-arrow-left {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.6' stroke-opacity='.6' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 30 30, auto;
}
.sl-nav-arrow-right {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.6' stroke-opacity='.6' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 30 30, auto;
}
.sl-nav-dots {
  top: calc(var(--slider-height) - 80px);
  display: inline-flex;
  position: relative;
  padding: 12px;
  pointer-events: none;
}
.sl-nav-dots::before {
  content: '';
  position: absolute;
  left: 22px;
  top: 12px;
  width: 20px;
  height: 20px;
  background-color: rgba(51, 122, 183, 0.9);
  transition: transform 0.7s ease-out;
  transform: translateX(calc(40px * (var(--from-left) - 1)));
}
.sl-nav-dot {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(191, 226, 255, 0.9);
  cursor: pointer;
  pointer-events: all;
  display: inline-block;
  transition: border-color 0.3s ease-out;
}
.sl-nav-dot:hover {
  border-color: rgba(255, 255, 255, 1);
}
.sl-nav-dot:active {
  border-color: rgba(255, 255, 255, 1);
}
@media only screen and (max-width: 650px) {
  .slider::before,
  .slider::after {
      display: none;
  }
  .slider-content {
      width: 100%;
      height: var(--slider-height);
      transform: translateZ(0);
  }
  .sl-img {
      height: 100%;
      box-shadow: none;
  } 
  .sl-text-item-info {
      bottom: 116px;
      left: 50%;
      transform: translate(-50%, 0);
  }
  .sl-text-item-info p {
      padding: 20px;
  }
  .sl-text-item-head {
      top: 40px;
      left: 40px;
      transform: translateZ(0);
  }
  .sl-text-item-head h3 {
      font-size: 26px;
  }
  .sl-nav-dots {
      background-color: rgba(0, 0, 0, 0.3);
  }
  .sl-nav-arrow {
      width: 10%;
      position: relative;
      cursor: auto;
      height: var(--slider-height);
  }
  .sl-nav-arrow::before {
      content: '';
      background-image: var(--arrow);
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .sl-nav-arrow-left {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%);
  }
  .sl-nav-arrow-left:active {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%);
  }
  .sl-nav-arrow-right {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%);
  }
  .sl-nav-arrow-right:active {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%);
  }
  /* Фикс для ресайза */ 
  .slider-content,
  .sl-img-item img {
      transform: none!important;
  }  
}   

/*Блок приемка*/

.inspection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  min-height: 40vh;
  background: #ffffff4d;
}
.container {
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .cards {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  z-index: 10;
  margin: 5px 15px 10px;
}
.container .cards .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 15px 35px rgba(0, 0 ,0,0.5);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  border-radius: 50%;
}
.persent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 100;
}

.persent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.persent .number h2 {
  color: rgb(0, 0, 0);
  /* font-weight: 700; */
  font-size: 16px;
  padding: 1px 20px;
  cursor: pointer;
}
.persent .number p {
  position: absolute;
  color: rgb(69, 170, 44);
  /* font-weight: 700; */
  font-size: 72px;
  font-weight: 900;
  padding: 1px 20px;
  cursor: pointer;
  opacity: 0;
}
.cards:nth-child(9):hover  .number p{
  opacity: 1;
  transition: opacity 0.6s;
  transition-delay: 1.2s !important; 
}
.cards:nth-child(9):hover  .number h2{
  opacity: 0;
  transition: opacity 0.6s;
  transition-delay: 1.2s !important; 
}

.text {
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%) ;
  text-align: center;
  padding: 30px 20px 10px;
  background: #337AB7;
  z-index: 1;
  color: #fff;
  border-radius: 10px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  pointer-events: none;
  text-transform: uppercase;
  transition-delay: 0s, 0.5s, 0s, 0.5s;
  transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  
}
.cards:hover .text {
  transition-delay: 0s, 0.5s, 0.5s, 0s;
  bottom: -70px;
  z-index: 1;
  transform: translateX(-50%) translateY(-100px);
  padding: 10px 20px 10px;
}
/* .card:nth-child(1) .text {
  background: #ff0461;
}
.card:nth-child(2) .text {
  background: #36ff04;
}
.card:nth-child(3) .text {
  background: #2c8524;
} */
.cards svg {
  position: relative;
  width: 150px;
  height: 150px;
  
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: rgb(204, 203, 203);
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke-linecap: round;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg circle:nth-child(2) {
  
  stroke: rgb(69, 170, 44);
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
}
.cards:nth-child(1):hover   svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 20) / 100);
  transition: stroke-dashoffset 0.6s;
} 
.cards:nth-child(3):hover  svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 40) / 100);
  transition: stroke-dashoffset 0.8s;
} 
.cards:nth-child(5):hover  svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 60) / 100);
  transition: stroke-dashoffset 1s;
} 
.cards:nth-child(7):hover  svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 80) / 100);
  transition: stroke-dashoffset 1.2s;
} 
.cards:nth-child(9):hover  svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 100) / 100);
  transition: stroke-dashoffset 1.4s;
} 
.card:nth-child(2):hover  svg:nth-child(2) {
  transform: rotate(270deg) scale(1.5);
}
.card:nth-child(3):hover  svg:nth-child(2) {
  transform: rotate(270deg) scale(1.5);
}
.card:nth-child(4):hover  svg:nth-child(2) {
  transform: rotate(270deg) scale(1.5);
}
.arrow-right-5 {
  /* margin: 2px 8px; */
  width: 35px;
  height: 150px;
  cursor: pointer;
  fill: #337AB7;
  transition: fill 0.5s ease-out, transform 0.3s ease-in;
}
.arrow-right-5 {
    transform: rotate(270deg);
}

/*Блок "Что мы прверяем" */
.stage-box-wrapper {
  height: 200px;
}
.stages-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-left: 35px;
}

.checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border: 4px solid #000;
}
.checkbox p {
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  color: rgb(21, 221, 14);
  font-size: 4em;
}
.stages-box .corner {
  font-size: 1.5em;
  margin-left: 15px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ml-200 {
  margin-left: 200px;
}
/**************Аккордион***********************/
.accordion {
  width: 100%;
  display: none;
}
.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}
.accordion .contentBx:last-child {
  margin-bottom: 40px;
}
.accordion .contentBx .label {
  position: relative;
  font-size: 1.2em;
  padding: 12px;
  background: #1779ff;
  color: var(--white);
  cursor: pointer;
  border-radius: 20px 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion .contentBx .contentAc {
  position: relative;
  height: 0;
  background: var(--white);
  overflow: hidden;
  transition:0.5s;
  overflow-y: auto;
  line-height: 25px;
  text-align: justify;
}

.accordion .contentBx.active .label ion-icon {
  transform:rotate(90deg);
}
.accordion .contentBx.active .contentAc {
  padding: 20px;
  height: auto;
}

/***************************************************/

/*********Форма объятной связи**************/
.conteiner .formBx {
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.conteiner .formBx form {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 0 0 0 75px
}
.conteiner .formBx form h2 {
  color: #000;
  font-size: 2em;
  margin-bottom: 35px;
}
.conteiner .formBx form .inputBx {
  position: relative;
  margin-bottom: 40px;
}

.conteiner .formBx form .inputBx:last-child {
  margin-bottom: 0px;
}
.conteiner .formBx form .inputBx input,
.conteiner .formBx form .inputBx textarea {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: var(--black);
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300px;
  border-bottom: 2px solid rgb(179, 177, 177);
  resize: none;
}
.conteiner .formBx form .inputBx textarea {
  height: 100px;
}
.conteiner .formBx form .inputBx input[type="submit"] {
  background: #1779ff;
  padding: 8px 20px;
  cursor: pointer;
  color: var(--white);
  font-size: 18px;
  border: none;
}
.conteiner .formBx form .inputBx input[type="submit"]:focus 
{
  background: #333;
}
.conteiner .formBx form .inputBx span {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  pointer-events:none;
  letter-spacing: 1px;
  color: rgb(179, 177, 177);
  transition: all 0.2s;
}
.conteiner .formBx form .inputBx input:focus ~ span,
.conteiner .formBx form .inputBx textarea:focus ~ span,
.conteiner .formBx form .inputBx input:valid ~ span,
.conteiner .formBx form .inputBx textarea:valid ~ span {
  transform: translateY(-24px);
  color: #1779ff;
  font-weight: 400;
  font-size: 14px;
}

.conteiner .formBx form .inputBx input:focus,
.conteiner .formBx form .inputBx textarea:focus,
.conteiner .formBx form .inputBx input:valid,
.conteiner .formBx form .inputBx textarea:valid {

  border-bottom-color: #1779ff;
}

.imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.imgBx::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background:chartreuse;
  transform-origin: bottom;
  transform: skew(-25deg) translateX();

}
.imgBx img {
  position: absolute;
  bottom: 0;
  max-height: 95%;
}

@media (max-width: 991px) {
  .conteiner .formBx {
    width:100%;
    padding: 0 50px;
  }
  .conteiner .formBx form {
    
    width: 100%;
    padding: 0;
  }
  .imgBx {
    display: none;
  }
}
/******************************************/

/************О нас******************/
.cardsBx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cardsBx > .card {
  position: relative;
  width: 280px;
  height: 275px;
  background: #5f9cff;
  margin: 30px;
  border-radius: 20px;
  border-bottom-left-radius: 152px;
  border-bottom-right-radius: 152px;
  box-shadow: 0 4px 0 #fff, inset 0 -8px 0 rgb(255 255 255 / 44%), 0 13px 0 rgb(0 0 0 / 15%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cardsBx > .card::before {
  content: '';
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent,  rgba(255,255,255, 0.1));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.cardsBx > .card:nth-child(1) {
  background: linear-gradient(to bottom, #5250516c, #1004fc0a);
}
.cardsBx .card:nth-child(2) {
  background: linear-gradient(to bottom, #5250516c, #1004fc0a);
}
.cardsBx .card:nth-child(3) {
  background: linear-gradient(to bottom, #5250516c, #1004fc0a);
}
.cardsBx .card:nth-child(4) {
  background: linear-gradient(to bottom, #5250516c, #1004fc0a);
}
.cardsBx .card:nth-child(5) {
  background: linear-gradient(to bottom, #5250516c, #1004fc0a);
}
.cardsBx .card:nth-child(6) {
  background: linear-gradient(to bottom, #5250516c, #1004fc0a);
}
.cardsBx .card:hover .icon i{
  /* transform: scale(1.2); */
}
.cardsBx .card:hover {
  box-shadow: 0 12px 5px rgba(0, 0, 0, 0.5);
  transform:translateY(-20px);
  transition: transform 0.5s;
}
.icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: transparent;
  /* border-bottom-right-radius: 100px; */
  /* border-bottom-left-radius: 100px; */
  /* box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
inset 0 -8px 0 #fff; */
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  border-top-right-radius: 50px;
  /* box-shadow: 15px -15px 0 15px #fff; */
  width: 50px;
  height: 50px;
  background: transparent;
}
.icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 140px;
  border-top-left-radius: 50px;
  /* box-shadow: -15px -15px 0 15px #fff; */
  width: 50px;
  height: 50px;
  background: transparent;
}
.icon i {
  margin-top: 30px;
  color: rgb(13, 55, 192);
  position: relative;
  font-size: 4.5em;
  z-index: 1000;
  --ionicon-stroke-width: 24px;
}
.cardsBx > .card .content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140px;
  text-align: center;
}
.cardsBx > .card .content h2 {
  font-size: 1.75;
  color: #fff;
  margin-bottom: 10px;
}
.cardsBx > .card .content p {
  color: #fff;
}
